
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.menu-bar {
    background-color: #333;
    overflow: hidden;
    position: relative;
}

.menu-bar a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    float: left;
    transition: background-color 0.3s;
}

.menu-bar a:hover {
    background-color: #575757;
}

.menu-bar .sair {
    float: right;
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
option,
select,
input[type="file"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #575757;
} 

#fornecedor {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    font-size: 16px;
    color: #333;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#fornecedor option:first-child {
    color: #999;
}

#fornecedor option {
    padding: 10px;
    background-color: #fff;
    color: #333;
}

.title{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
